
{% extends 'base.html' %}
{% load static %}
{% block title %}About the Mosque and his cool staff {% endblock %}
{% block meta_description %} This is the web site of the greatest Mosque who ever good {% endblock %}
{% block content %}


<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-12 col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                <h2>Modificar un Post admin</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary w-100 py-3 mt-1" type="submit">Guardar</button>
                </form>
            
            </div>
        </div>
    </div>
</div>


{% endblock %}

