{% extends 'base.html' %}
{% load static %}
{% block title %}About the Mosque Admin {% endblock %}
{% block meta_description %} This is the web site of the greatest Mosque {% endblock %}
{% block content %}



        <!-- Hero Start -->
        <div class="container-fluid hero-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-header-inner animated zoomIn">
                            <h1 class="display-1 text-dark">Mosque Web Admin</h1>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-dark" aria-current="page">Mosque Web Admin</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        
        {% if about_about_the_mosque %}
    <center>
        <h2>Email sent correctly {{ about_about_the_mosque }}</h2>
        <h3>Informations registred correctly ... </h3>
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    </center>
    {% else %}
        {% if the_mosque_web_admin %}
        <center>    
        <h2>The message....</h2>    
        <h2>Email sent correctly {{ the_mosque_web_admin }}</h2>
        <h3>Informations registred correctly ... </h3>
        </center>
        {% endif %}
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-12 col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                    <h2>All the options </h2>
                    <table class="table table-striped table-hover table-bordered border-primary shadow rounded custom-table">
                        <thead>
                          <tr>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'about_admin' %}" class="btn btn-primary">About Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'activities_admin' %}" class="btn btn-primary ">Activities Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'activities_admin' %}" class="btn btn-primary ">Events Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'sermons_admin' %}" class="btn btn-primary ">Sermons Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'tab_admin' %}" class="btn btn-primary disabled-link" style="pointer-events: none; opacity: 0.5;">Tab Admin</a>
                            </th>
                          </tr>
                          <tr>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'blogs_admin' %}" class="btn btn-primary ">Blog Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'team_admin' %}" class="btn btn-primary ">Our Team Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'testimonial_admin' %}" class="btn btn-primary ">Testimonial Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'view_404_admin' %}" class="btn btn-primary ">404 Page Admin</a>
                            </th>
                          </tr>
                          <tr>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'list_view_404_admin_view' %}" class="btn btn-primary ">List 404 Page Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'list_testimonial_admin_view' %}" class="btn btn-primary ">List Testimonial Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'list_team_admin_view' %}" class="btn btn-primary ">List Our Team Admin</a>
                            </th>
                            <th scope="col" class="text-center">
                                <a href="{%  url 'list_blogs_admin_view' %}" class="btn btn-primary ">List Blog Admin</a>
                            </th>
                            <tr>
                                <th scope="col" class="text-center">
                                    <a href="{%  url 'list_sermons_admin_view' %}" class="btn btn-primary ">List of the Sermons Admin</a>
                                </th>
                                <th scope="col" class="text-center">
                                    <a href="{%  url 'list_events_admin_view' %}" class="btn btn-primary ">List the events Admin</a>
                                </th>
                                <th scope="col" class="text-center">
                                    <a href="{%  url 'list_activities_admin_view' %}" class="btn btn-primary ">List Of Activities Admin</a>
                                </th>
                                <th scope="col" class="text-center">
                                    <a href="{%  url 'list_about_admin_view' %}" class="btn btn-primary ">List Of About Admin</a>
                                </th>
                                <th scope="col" class="text-center">
                                    <a href="{%  url 'list_best_videos_admin_view' %}" class="btn btn-primary ">List Of Best videos Admin</a>
                                </th>
                              </tr>
                          </tr>
                          <tr>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'about_images_admin' %}" class="btn btn-primary">About Images Admin</a>
                            </th>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'footer_admin' %}" class="btn btn-primary">Footer Admin</a>
                            </th>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'list_about_images_admin_view' %}" class="btn btn-primary">List Of About Images Admin</a>
                            </th>
                            <th scope="col" class="text-center" >
                                <a href="{% url 'list_contact_view' %}" class="btn btn-primary">Contact Admin</a>
                            </th>
                            <th scope="col" class="text-center" >
                                <a href="{% url 'list_page_admin_view' %}" class="btn btn-primary">List Of Page Admin</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'donation_admin' %}" class="btn btn-primary">Donation Admin</a>
                            </th>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'post_admin' %}" class="btn btn-primary">Post Admin</a>
                            </th>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'list_footer_admin_view' %}" class="btn btn-primary">List Of Footer Admin</a>
                            </th>
                            <th scope="col" class="text-center" >
                                <a href="{% url 'list_donation_admin_view' %}" class="btn btn-primary">List Of Donation Admin</a>
                            </th>
                            <th scope="col" class="text-center" >
                                <a href="{% url 'list_contact_info_admin_view' %}" class="btn btn-primary">List Of Contact info Admin</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
                            </th>
                            <th scope="col" class="text-center" colspan="1">
                                <a href="{% url 'mosque_web_admin' %}" class="btn btn-primary">Mosque Web Admin</a>
                            </th>
                            <th scope="col" class="text-center" >
                                <a href="{% url 'list_post_admin_view' %}" class="btn btn-primary">List Of Post Admin</a>
                            </th>
                            <th scope="col" class="text-center" >
                                <a href="{% url 'page_admin' %}" class="btn btn-primary">Page Admin</a>
                            </th>
                            <th scope="col" class="text-center" >
                                <a href="{% url 'contact_info_admin' %}" class="btn btn-primary">Contact info Admin</a>
                            </th>
                        </tr>
                        
                        </thead>
                        <tbody>
                          
                          
                        </tbody>
                      </table> 
                
                </div>
            </div>
        </div>
    </div>
        
{% endif %}   






{% endblock %}


